POSTGRES_PASSWORD=dev_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=polymer_genomics
POSTGRES_USER=api_reader
POSTGRES_USER_PASSWORD=api_reader_dev

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=http://localhost:9000
S3_BUCKET=polymer-genomics-api
